body {
  margin: 0;
  padding: 0;
  font-family: Tahoma, sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  color: #464646;
  letter-spacing: .025em;
}

.App {
  width: 85vw;
  max-width: 40rem;
  margin: 0 auto;
  padding: 2rem;
}

.row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.row--halves > div {
  width: 47.5%;
}