.f1y-form {
  border: solid .1rem #dedede;
  border-radius: .25rem;
  padding: 2rem;
}

.f1y-fieldset {
  border-left: none;
  border-right: none;
  border-top: solid .1rem #dedede;
  border-bottom: solid .1rem #dedede;
  padding: 0 0 .75rem;
  margin: 0 0 .75rem;
}

.f1y-fieldset + .f1y-fieldset {
  margin-top: 1.75rem;
}

.f1y-fieldset__legend {
  font-size: .825rem;
  text-transform: uppercase;
  margin: 0 0 .25rem;
  padding-right: .75rem;
}

.f1y-field {
  margin: .5rem 0 1rem;
}

.f1y-field__wrap {
  width: 100%;
}

.f1y-field__input {
  border: solid .1rem #ababab;
  border-radius: .25rem;
  background: #fff;
  padding: .35rem .5rem;
  line-height: 1.5;
  width: calc(100% - 1.2rem);
  display: block;
  font-size: inherit;
}

.f1y-field__label {
  margin: 0 0 .25rem;
  display: block;
}

.f1y-field__desc,
.f1y-field__error {
  display: block;
  margin: .275rem 0 0;
  font-size: .825rem;
}

.f1y-field__desc {
  opacity: .675;
}

.f1y-field__error {

}